#panel {
    background-color: #4B4A45;
    position: fixed;
    bottom: 0rem;
    top: 0rem;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    transition: 0.6s;
    right: 100%;
    padding: 1rem;
    font-size: 1.4em;
}

#panel.go-right {
    right: 1rem !important;
}



.btnclose {
    height: 44px;
    width: 44px;
    background: red;
    transition: all 0.5s;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0;
    background: url(../../../assets/close_round.svg) 100% center / cover no-repeat;
}

.inte div *,
.inte h1 *,
.inte h2 *,
.inte h3 *,
.inte h4 *,
.inte span *,
.inte button *,
.inte p * {
    outline: 1px dashed var(--color-secondary) !important;
    color: var(--color-secondary) !important;
}