button, .button, .btn{
    border-width: 0;
}

a.button {
    display: inline-block;
    height: 44px;
    padding: 16px;
    margin: 16px 0;
    line-height: 0.7;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--header-color);
}

a.button.arrow {
    display: inline-block;
    height: 44px;
    padding: 16px 16px 16px 50px;
    margin: 16px 0;
    line-height: 0.7;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--header-color);
    background: url(../../../assets/arrow-right.svg) 6% center / 31px auto no-repeat;
}
